.home {
    min-height: 100vh;
    height: auto;
    background:   rgb(15, 30, 32);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.home-search {
    
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.home-input {
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    width: 300px;
    align-items: center;
    font-size: 18px;
    border-radius: 10px;
}

.home-button {
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 5px;
    color: #fff;
    background: #f3b542;
    margin-left: 10px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.home-grid{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
}

img{
    width: 250px;
}